body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    background-image: url('imgs/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.topbar {
    background-color: rgb(231, 37, 37);
    display: flex;
    justify-content: space-between;
    border: solid;
    border-width: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 50px;
    font-size: 15px;
    border: none;
}

.titlebox {
    display: flex;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    width: 140px;
    padding: 0%;
    margin: 0%;
    margin-top: 2px;
    color: aliceblue;
}
.pokemon_icon {
    border-radius: 150px;
    width: 30px;
    height: 30px;
    margin-top: 5px;

}


.contentindex {
    height: 500px;
    display: flex;
    justify-content: center;
}


.content {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(225, 248, 122);
    border-radius: 10px 10px 0 0 ;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
}

.acimage {
    width: 350px;
    height: 350px;
}

.card_description {
    width: 400px;
    height: 200px;
    background-color: rgb(133, 133, 219);
    border-width: 5px 5px 5px 5px;
    border-style: solid;
}

.search {
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-width: 4px;
    margin-top: 10px;
    height: 60px;
    font-size: 20px;
}


.searchcard {
    width: 200px;
    height: 200px;
    background-color: azure;
    border-radius: 6px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

