<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}"/>
    {% block head %}{% endblock %}
</head>
<body>
    <div class = "topbar">
            <div>
                <h1 class="title">POKEDEX</h1>
            </div>
            <div>
                <img class="pokemon_icon" src="{{ url_for('static', filename='imgs/poke_icon.png') }}" alt="Example image">
            </div>
        </div>
    {% block body %}{% endblock %}
</body>
</html>