<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}"/>
    {% block head %}{% endblock %}
</head>
<body>
    <div class = "topbar">
        <div class="dropdown">
            <button class="dropbtn">Search by </button>
                <div class="dropdown-content">
                    <a href="/">Name</a>
                    <a href="search_type">Type</a>
                    <a href="search_ability">Ability</a>
                </div>
        </div>
        <div class="titlebox">
            <div>
                <h1 class="title">POKEDEX</h1>
            </div>
            <div>
                <img class="pokemon_icon" src="{{ url_for('static', filename='imgs/poke_icon.png') }}" alt="Example image">
            </div>
        </div>
        <div style="width: 90px;">

        </div>
    </div>

    
    
    {% block body %}
    {% endblock %}
</body>
</html>